<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="main">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ショッピングカート</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <style>
        .custom-bg-gray {
            background-color: gray;
            color: white;
        }

        .text-center a {
            color: inherit;
            /* 現在の要素の親からの継承された色を使用 */
            text-decoration: underline;
            /* リンクに下線を追加 */
            cursor: pointer;
            /* マウスをホバーするとポインターになるように */
        }
    </style>

</head>

<body style="padding-top:163px; margin-bottom: 92px;">

    <!--ヘッダー-->
    <header>
        <nav class="nav justify-content-center d-flex align-items-center fixed-top">
            <a class="navbar-brand" href="#"><img src="./images/logo321px.png" alt="TOSAMONロゴマーク"></img></a>
        </nav>
    </header>

    <div class="row justify-content-center text-secondary">
    <div class="col-10">

    <!--カートの中身-->
    <h4 class="text-center" style="margin:1.6em;">カートの中身</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="custom-bg-gray text-center">商品名</th>
                <th class="custom-bg-gray text-center">販売価格</th>
                <th class="custom-bg-gray text-center">数量</th>
                <th class="custom-bg-gray text-center">小計</th>
                <th class="custom-bg-gray text-center">削除</th>
            </tr>
        </thead>
        <tbody>
            <!-- データベースから取得した商品リストを反復処理 -->
            <!-- カートの中身1 -->
				<tr th:each="cart : ${user.carts}">
                <!-- 商品名 -->
                <td class="align-middle">                    
                   <!-- カートに入れた商品-->
                    <img th:src="@{/images/{image} (image=${cart.item.image})}">
                    <!--[[ ${cart.item.image} ]]-->
					[[ ${cart.item.name} ]]
                </td>
                <!-- 販売価格 -->
                <td class="text-right align-middle">[[ ${cart.item.price} ]]円</td>
                <!-- 数量 -->
                <td class="text-center align-middle">
                   <!--  <form method="post "th:action="@{/cart/amountSize}" th:object="${amountForm}">
        				<label for="amountSize">数量を選んでください:</label>
        				<select id="amountSize" name="amountSize" th:field="*{amountSize}">
            				<option value="1">1</option>
            				<option value="2">2</option>
            				<option value="3">3</option>
            				<!-- Add more options as needed -->
        				<!--</select>-->
        			<!--<br>
       				 <button type="submit">Submit</button>
    				</form>-->
                </td>
                <!-- 小計 -->
                <td class="text-right align-middle">円</td>
                <!-- 削除ボタン -->
                <td class="text-center align-middle">
                    <a th:href="@{/cart/delete/{cartId}(cartId=${cart.id})}">削除</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- 合計金額表示ボックス -->
    <div class="d-flex justify-content-between bg-light p-4">
        <div class="text-left">
            <strong>商品の小計</strong>
        </div>
        <div class="text-right">
            <strong>円</strong>
        </div>
    </div>
     
    <!--支払い情報-->
    <h4 class="text-center" style="margin:1.6em;">お支払情報</h4>
        <!--お届け先-->
        <div style="border-bottom: 1px solid #ccc; margin-bottom: 30px;">
        <h5>1.お届け先</h5>
            <p style="text-indent: 3em;"><strong>※要修正※</strong>購入者の情報</p>
        </div>
        <!--お支払方法-->
        <div style="border-bottom: 1px solid #ccc;">
        <h5>2.お支払方法</h5>
            <p style="text-indent: 3em;">作り手応援のため、代金引換のみになります。</p>
        </div>
                
    <!--注文完了する-->
    <div class="text-center mt-5 mb-5">
        <input type="submit" value="注文を完了させる" class="btn btn-warning btn-lg" style="width: 35%;">
    </div>
    </div>
    </div>
      
    
    <!--フッター-->
    <footer class="footer fixed-bottom">
      <nav class="nav justify-content-center d-flex align-items-center" style="background:#e1dccb; height:163px;">
        <span class="text-muted"><small>&copy;team2</small></span>
      </nav>
    </footer>
 
    <!-- 以下にBootstrapに必要なJavaScriptを記述します -->
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
 
  </body>
  </div>
</html>