<!--変更-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>お気に入作品</title>
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">

</head>
    <body>
        <nav class="nav fixed-top" style="background:#e1dccb; height:163px;">
            <p>共通のヘッダーが入ります</p>
        </nav>
        <!--ナビゲーションで隠れる部分の押し出し-->
        <div style="padding-top:260px;"></div>
        <dl>
            <dt>ユーザー名</dt>
            <dd>[[ ${user.user_name} ]]</dd> <!--変更 user→user_name-->
            
        </dl>
        
        <div class="container">
		    <h3 class="subheading">お気に入り作品</h3>
		    <div class="row">
		        <div th:each="item : ${user.likeItems}" class="col-md-3">
		            <a th:href="@{/items/detail/{id} (id=${item.id})}">
		                <div class="overlay-container" style="margin:10px 20px;">
		                    <img class="thumbnail-trim" th:src="@{/images/{image} (image=${item.image})}">
		                    <div class="overlay"></div>
		                    <div class="overlay-text">
		                        <h6 class="text-center">[[ ${item.name} ]]</h6>
		                        <p class="text-right">￥[[ ${item.price} ]]</p>
		                    </div>
		                </div>
		            </a>
		        </div>
		    </div>
		</div>
        
        <!--フッター-->
        <footer class="footer justify-content-center d-flex align-items-center">
            <span class="text-muted"><small>&copy;team2</small></span>
        </footer>
     
        <!-- 以下にBootstrapに必要なJavaScriptを記述します -->
        <!-- jQuery, Popper.js, Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
     
    </body>
</div>
</html>