/*デスクトップ向けのスタイル*/
@media screen and (min-width: 768px) {
  body{
    font-size: 16px;
  }
}

/*タブレット向けのスタイル*/
@media screen and (max-width: 767px) {
  body{
    font-size: 14px;
  }
}

/*スマホ向けのスタイル*/
@media screen and (max-width: 480px) {
  body{
    font-size: 12px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面の高さいっぱいに広がるようにする */
  }

.content {
  flex: 1; /* コンテンツが残りの領域を占めるようにする */
  }

footer {
  background-color: #e1dccb;
  height: 92px;
  /* padding: 20px; 適切なパディングを設定 */
  margin-top: auto; /* フッターを下に押し下げる */
  }

/*見出し*/
.subheading {
  text-align: center;
  letter-spacing: 0.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #343434;
}

/*商品一覧ページ*/
.items-all img {
  padding-bottom: 20px;
}
/*商品一覧ページ カテゴリリンクの色変更*/
.category-link a {
  color: grey;
}

