/*デスクトップ向けのスタイル*/
@media screen and (min-width: 768px) {
  body{
    font-size: 16px;
  }
}

/*タブレット向けのスタイル*/
@media screen and (max-width: 767px) {
  body{
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  /*ヘッダーの検索フォームのスタイル*/
  .custom-form {
    flex-direction: column;
    align-items: stretch;
  }
}
/*スマホ向けのスタイル*/
@media screen and (max-width: 480px) {
  body{
    font-size: 12px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面の高さいっぱいに広がるようにする */
  }

.content {
  flex: 1; /* コンテンツが残りの領域を占めるようにする */
  }

.footer {
  background-color: #e1dccb;
  height: 92px;
  margin-top: auto; /* フッターを下に押し下げる */
  
  }

/*見出し*/
.subheading {
  text-align: center;
  letter-spacing: 0.2em;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #343434;
}

/*ヘッダーのボタン各種スタイル*/
.custom-button {
  font-size: 12px;
  padding: 6px 12px;
  min-height: 20px;
  white-space: nowrap;
}
svg {
  color: #575756;
  margin-right: 15px;
}

/*商品一覧ページ*/
.items-all img {
  padding-bottom: 20px;
}
/*商品一覧ページ カテゴリリンクの色変更*/
.category-link a {
  color: grey;
}

/*サムネイルへのオーバーレイブラックと白抜き文字*/
.overlay-container {
  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-text {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 81%;
  padding: 0 10px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail-trim {
	width: 280px;
	height: 280px;
	object-fit: cover;
}

.top-custom-img {
	margin: 1em;
}

/*お気に入りボタン*/
.like-button {
	
	width: 50px;
  	height: 50px;
  	background: #e2e2e2;
  	border-radius: 50%;
  	font-size: 28px;
  	border: none;
  	transition: transform 0.3s ease-in-out;
}
.like-button:hover {
	transform: scale(1.2);
}
@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.2); }
	100% { transform: scale(1); }
}

.pulse-animation {
	animation: pulse 0.6s ease-in-out;
}

/*商品の詳細ページの画像トリミング*/
.main-img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}
.sub-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
/*詳細ページのハートボタン*/
.heart {
  cursor: pointer;
  font-size: 2em;
  color: gray;
  transition: color 0.3s ease-in-out;
}

.heart.clicked {
  color: rgb(218, 58, 102);
}
/*ハート横の吹き出し*/
.baloon {
	position: relative;
	display: inline-block;
	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: rgb(255, 254, 238);
	font-size: 12px;
	font-weight: bold;
	background: rgb(255, 128, 128);
	border-radius: 5px;
	box-sizing: border-box;
}

.baloon:before {
	content: "";
	position: absolute;
	top:50%;
	left: -20px;
	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid rgb(255, 128, 128);
	z-index: 2;
}

.baloon p {
	margin: 0;
	padding: 0;
}
/*詳細ページのモーダル*/
.modal-header, .modal-footer {
    border: none;
}
.modal-footer a {
    flex-grow: 1;
}
.cart-in-img-trim {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/*レビュー表示画面*/
.review-cell {
	max-width: 900px;
	min-height: 100px;
	border-radius: 5px;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.review-post-btn {
	background-color: #7d83a8;
	color: white;
	width: 400px;
	margin: auto;
	display: block;
}
.review-post-btn:hover {
	text-decoration: none;
	color: white;
	background-color: #74778b
}