<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
	<div style="padding-top:163px;"></div>
    <h1>[[ ${title} ]]</h1>
    <form method="post" class="like" th:action="@{/items/toggleLike/{id} (id=${item.id})}">
		<button type="submit" class="box">[[ ${item.likedUsers.contains(user) ? '♥' : '♡'} ]]</button>
	</form>
	
	<dl>
		<dd>[[ ${item.getShopName} ]]</dd>
		<dt>商品名</dt>
		<dd>[[ ${item.name} ]]</dd>
		<dt>価格</dt>
		<dd>[[ ${item.price} ]]円</dd>
		<dt>商品説明</dt>
		<dd>[[ ${item.description} ]]</dd>
		<dt>商品画像</dt>
		<dd><img class="item" th:src="@{/images/{image} (image=${item.image})}"></dd>
		<dd><img class="item" th:src="@{/images/{image} (image=${item.img_1})}"></dd>
		<dd><img class="item" th:src="@{/images/{image} (image=${item.img_2})}"></dd>
		<dd><img class="item" th:src="@{/images/{image} (image=${item.img_3})}"></dd>
		<div><img class="shop" th:src="@{/images/{image} (image=${shop.shop_icon})}"></div>
		<p>[[ ${shop.shop_name} ]]</p>
		<p>[[ ${shop.shop_description} ]]</p>
		<h2>ショップの場所</h2>
		<iframe th:src="@{'https://www.google.com/maps/?output=embed&q=' + ${shop.shop_address} + '18&t=m&z=15'}"
		 width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		<h2>レビュー</h2>
		<div th:each="eachReview : ${reviews}">
			<p>[[ ${eachReview.getUserName} ]] さん</p>
			<p>[[ ${eachReview.star} ]]</p>
			<p>[[ ${eachReview.comment} ]]</p>
			<p>[[${#temporals.format(eachReview.createdAt, 'yyyy年M月d日')}]]</p>
		</div>
	</div>
	</dl>
</div>
</html>