<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
    <h1>[[ ${title} ]]</h1>
    <dl>
        <dt>商品名</dt>
        <dd>[[ ${item.name} ]]</dd>
        <dt>価格</dt>
        <dd>[[ ${item.price} ]]円</dd>
        <dt>商品説明</dt>
        <dd>[[ ${item.description} ]]</dd>
        <dt>商品画像</dt>
        <dd><img class="item" th:src="@{/images/{image} (image=${item.image})}"></dd>
        <dd><img class="item" th:src="@{/images/{image} (image=${item.img_1})}"></dd>
        <dd><img class="item" th:src="@{/images/{image} (image=${item.img_2})}"></dd>
        <dd><img class="item" th:src="@{/images/{image} (image=${item.img_3})}"></dd>
        <!-- 暫定でitemのdescriptionを住所として入力するようにしています -->
        <!--カートに追加ボタン-->
        <form method ="post" th:action="@{/cart/inCart/{itemId}(itemId=${item.id})}">
        <button type="submit">カートに入れる</button>
       </form>
        <iframe th:src="@{'https://www.google.com/maps/?output=embed&q=' + ${item.description} + '18&t=m&z=15'}"
         width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </dl>
</div>
</html>