<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnEnW16j7tj70" crossorigin="anonymous">
</head>
<body>
<div th:fragment="main">
    <h1>[[ ${title} ]]</h1>    
    <div style="padding-top:163px;"></div> 
    <div class="container text-secondary pb-5">
        <div class="row">
	        <!--左カラム-->
            <div class="col-6">
                <img class="main-img" th:src="@{/images/{image} (image=${item.image})}"></img>
                <div class="d-flex justify-content-between pt-3" style="max-width:450px;">
	                <img class="sub-img" th:src="@{/images/{image} (image=${item.img_1})}"></img>
	                <img class="sub-img" th:src="@{/images/{image} (image=${item.img_2})}"></img>
	                <img class="sub-img" th:src="@{/images/{image} (image=${item.img_3})}"></img>
	                <img class="sub-img" th:src="@{/images/{image} (image=${shop.shop_icon})}"></img>
                </div>
            </div>
            
			<!--右カラム-->
            <div class="col-6">
                <h4>[[ ${item.name} ]]</h4>
                <p>[[ ${item.description} ]]</p>
                <h3>[[ ${item.price} ]]円</h3>
                
                <!--Sold Outの表示-->
                <div th:if="${item.stock == 0} "th:style="${'color: red; font-weight: bold;'}">
					SOLD OUT
				</div>
                <div class="row d-flex align-items-center ml-1">
	                <!--ハートマーク-->
	                <form method="post" class="like mt-3" th:action="@{/items/toggleLike/{id} (id=${item.id})}">
						<button type="submit" class="like-button">[[ ${item.likedUsers.contains(user) ? '♥' : '♡'} ]]</button>
					</form>
					<!--フキダシ-->
					<div class="baloon mb-2">
						<p>クリックでお気に入りに登録</p>
					</div>
				</div>
				<!--カートに追加ボタン-->
        		 <form id="addCart" method ="post" th:action="@{/cart/inCart/{itemId}(itemId=${item.id})}">
                 <button type="button" id="AddToCart" class="btn btn-secondary btn-lg btn-block mt-5 mb-4" data-toggle="modal" data-target="#cart-in-modal" onclick="addToCart()">
                  カートに入れる
                </button>
        		 </form>
                <!--カートに追加ボタンが押された時のJavaScriptの処理-->
                <script th:inline="javascript">
					function addToCart() {
					$("#AddToCart").click(function(){
							const baselink = /*[[@{/cart/inCart/}]]*/'';
							//const itemId = item.id;
							//const itemId = parseInt(item.id, 10);  // 整数に変換
							//const itemId = parseInt(/*[[${item.id}]]*/);  // 整数に変換
							//const link = baselink + "/" + itemId;
							$.ajax({
								url: link,
								type: "POST",
								timeout: 1000,
								})
								.done(function(data) {
									console.log(data); // サーバーサイドからのレスポンスをコンソールに表示
									$("#cart-in-modal").modal('show');
								});
						　});					
					}
				</script>               				
                
                <h5>[[ ${shop.shop_name} ]]</h5>
	            <p>[[ ${shop.shop_description} ]]</p>
                
                <!--モーダル-->
                <div class="modal fade" id="cart-in-modal" tabindex="-1" role="dialog" aria-labelledby="cart-in-modal-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            
                            <!--モーダル上段-->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-laber="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            
                            <!--モーダル中段-->
                            <div class="modal-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12">
                                        <h5 class="text-center font-weight-bold" id="cart-in-modal-label">商品がカートに追加されました</h5>
                                    </div>
                                    <div class="container pt-5">
                                        <div class="row">
                                            <div class="col-3">
                                                <!--商品のアイコン-->
                                                <img th:src="@{/images/{image} (image=${item.image})}" class="img-fluid cart-in-img-trim">
                                            </div>
                                            <div class="col-9">
                                                <!--商品名と価格-->
                                                <p>[[ ${item.name} ]]</p>
                                                <p>[[ ${item.price} ]]円</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--モーダル下段-->
                            <div class="modal-footer my-3">
								<!--<form id="addCart" method ="post" th:action="@{/cart/inCart/{itemId}(itemId=${item.id})}">-->
                                <a th:href="@{/cart/{userId}(userId=${user.id})}" class="text-decoration-none">
								  <button type="submit" class="btn btn-warning btn-lg btn-block">カートの中身を見る</button>
								</a>
								<!--</form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!--ショップの場所-->
    <div class="py-5" style="background:#f8f8f4;">
        <div class="container">
            <div class="col-12">
                <h4 class="subheading text-center">ショップの場所</h4>
                <div>
                    <iframe th:src="@{'https://www.google.com/maps/?output=embed&q=' + ${shop.shop_address} + '18&t=m&z=15'}"
                        width="100%"
                        height="400"
                        frameborder="0"
                        style="border:0"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
	<!--レビュー-->
    <div class="py-5" style="background:#efefeb;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h4 class="subheading text-center">みんなのレビュー</h4>
                </div>
				<div th:each="eachReview : ${reviews}">
                    <div class="col-10" style="background:white;">
                        <div class="row">
                            <div class="col-3 border-right">
								<p>[[ ${eachReview.getUserName} ]] さん</p>
								<p>[[ ${eachReview.star} ]]</p>
								<div th:each="starNumber : ${#numbers.sequence(1, eachReview.star)}">
									<img th:src="@{/images/kusa.png}"width="20" height="20">
								</div>
							</div>
                            <div class="col-9">	                               
								<p>[[ ${eachReview.comment} ]]</p>
								<p>[[ ${eachReview.createdAt} ]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<script src="/src/main/resources/static/JS/script.js"></script>
</body>
</html>